.popup__error_visible {
    display: block;
    position: absolute;
    font-family: inherit;
    font-size: 12px;
    color: rgba(255, 0, 0, 1);
    min-height: 12px;
    margin-top: 5px;
}

.popup__error_visible:first-of-type {
    margin-top: -5px;
}